New leave request from {{requester.full_name}}
=====
<p>Hello,</p>

<p>This is an informational notification. {{requester.full_name}} has submitted a new leave request
  <strong>{{>leave_request_detail leave=leave }}</strong>.</p>

<p>As a watcher for this request, you will be notified of the final outcome.</p>

<p>Thanks</p>